nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #b5bec6;
    border-radius: 0.5rem;
}

nav a {
    color: #323031;
    padding: 1rem;
    text-decoration: none;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    background-color: #E3EDF2;
}

nav a:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#shownav {
    display: none;
}

#home-introduction {
    color: #E3EDF2;
    font-size: 4rem;
    justify-content: space-around;
    grid-row-start: 1;
    grid-column-start: 2;
}

#home-my-name {
    font-size: 12rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
}

#home-image {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

#home-description {
    color: #b5bec6;
    font-size: 1.5rem;
    grid-row-start: 4;
    grid-column-start: 2;
}

.home-grid-container {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 0.4fr);
}

.text-highlight-home {
    display: grid;
    color: #815eaa;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    animation: highlight-main 8s linear 0ms infinite both;
    opacity: 100%;
}

.text-highlight-home::before {
    z-index: -1;
    display: grid;
    position: absolute;
    color: #b51717;
    content: "Ahmed";
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: translate(-10px, -10px);
    opacity: 80%;
    animation: highlight-pseudo-blue 8s linear 0ms infinite both;
}

.text-highlight-home::after {
    z-index: 1;
    display: grid;
    position: absolute;
    content: "Ahmed";
    transform: translate(10px, 10px);
    opacity: 80%;
    animation: highlight-pseudo-red 8s linear 0ms infinite both;
}

@keyframes highlight-pseudo-blue {
    from {
        color: #261dce;
    }
    35% {
        color: transparent;
        transform: translate(7px, 7px);
    }
    65% {
        color: transparent
    }
    to {
        color: #261dce;
    }
}

@keyframes highlight-pseudo-red {
    from {
        color: #b51717;
    }
    35% {
        color: transparent;
        transform: translate(-7px, -7px);
    }
    65% {
        color: transparent;
    }
    to {
        color: #b51717;
    }
}

@keyframes highlight-main {
    from {
        color: transparent;
    }
    25% {
        color: #815eaa
    }
    75% {
        color: #815eaa
    }
    to {
        color: transparent;
    }
}

.portfolio-image-right {
    width: 300px;
    height: 300px;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio-title-left {
    color: #b5bec6;
    font-size: 3rem;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.portfolio-description-left {
    color: #b5bec6;
    font-size: 1.5rem;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.portfolio-image-left {
    width: 300px;
    height: 300px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio-title-right {
    color: #b5bec6;
    font-size: 3rem;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}

.portfolio-description-right {
    color: #b5bec6;
    font-size: 1.5rem;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.portfolio-grid-container {
    margin-top: 4rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 0.7fr);
    grid-template-rows: repeat(3, 0.5fr);
}

fieldset {
    width: min(480px, 80%);
    margin-left: auto;
    margin-right: auto;
    border-color: #E3EDF2;
    color: #E3EDF2;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

legend {
    font-size: x-large;
}

article {
    color: #E3EDF2;
    width: min(600px, 80%);
    margin-left: auto;
    margin-right: auto;
    border: #E3EDF2 2px solid;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}